* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0 !important;
  margin: 0 !important;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
}

.table-card {
  padding: 24px;
  margin-bottom: 32px;
  max-width: 75%;
  margin: auto;
  z-index: 1;
}

.serverInfo {
  padding: 24px;
  margin: auto;
  z-index: 1;
  max-width: 75%;
}

@media (min-width: 768px) {
  .serverInfo {
    max-width: 35%;
  }
}

.music-player {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  border-radius: 10px;
  z-index: 10;
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .music-player {
    position: relative;
    bottom: auto;
    right: auto;
    width: 75%;
    margin: 20px auto;
  }
}